    <!-- Modal HTML -->
<div id="welcomeModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Used Stuff:
        -asp.net identity for auth/auth
        </p>
    </div>
</div>
