/*GENERAL LAYOUT*/
body, html {
    margin: 10px;
    padding-top: 0px;
    font-family: Code;
    font-weight: normal;
    background-color: white;

}
hr {
    width:150px;
    align-content:center;
    border-width:1px;
    box-shadow: 0px 1px 0px white;
}

.bodywrapper {
    font-family: Code;
    justify-content: center;

}

.containerwrapper {

    background-color: lightgray;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 50px;
}


.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    font-size:12px;
    font-family: Tahoma    
}
.container {
}

/*Container transition*/

#container-container-transitioner {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in;
}

    #container-container-transitioner.visible {
    max-height: 500px; /* Adjust based on your content */
}
    
    /*Footer*/

    footer {
    justify-content: center; 
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;

    font-size: 12px;
    font-family: Tahoma
}



/*Type styling*/

.maintitleh1 {
    color: black;
    font-weight:Bold; 
    text-shadow:1px 1px 0px #888;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px; 
}
p {
    font-size: 12px; 
}
/*DIV Styles*/

.oval-beneath {
    width: 100px;
    height: 20px;
    border: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px -3px 10px #e6e6e6;
}

.oval-bottom {
    
    width: 100px;
    height: 20px;
    border: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 10px grey;
    mix-blend-mode: multiply;
}
/*    .oval-bottom:hover {
        width: 100px;
        height: 20px;
        border: 0px;
        background-color:lightgray;
        border-radius: 10px;
        transition: background-color 0.5s ease;
    }*/
.oval-topsy {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100px;
    height: 20px;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    background-color: none;
    border-radius: 10px;
    box-shadow: inset 0px 5px 5px grey;
}
/*    .oval-topsy:hover {
        box-shadow: inset 0px 5px 5px #727272;
        transition: box-shadow 1s ease;
    }*/

.oval-topsy-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 16px;
    vertical-align: middle;
    justify-content: left;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    background-color: white;
    border-radius: 10px;
}
.oval-topsy-solid-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5px;
    height: 5px;
    vertical-align: middle;
    justify-content: left;
    border-style: solid;
    border-width: 0px;
    border-color: white;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    animation: moveEye 5s linear infinite alternate;
}
    @keyframes moveEye {
        0% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(80px);
        }
    }


.oval-topsy-solid-round:hover {
    position: absolute;
    animation: moveEye 0.5s ease infinite alternate;
}


/*NavbarLinks*/

.nav-linkNAVBAR {
    display: table;
    height: 40px;
    width: 100px;
    #position: relative; /* ie hack */
    overflow: hidden;
    border: 1px solid red;
    padding-top: 15px;
}

/*Button/DIV button styling*/
.navbar-button {
    border: solid;
    margin-top: 5px;
    margin-right: 10px;
    border-width: 1px;
    border-color: #888;
    background-color: none;
    vertical-align: middle;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 0px #888;
    transition: background-color 0.1s ease;
}

    .navbar-button:hover {
        box-shadow: 0px 3px 0px #888;

    }

    .navbar-button:active {
        box-shadow: 3px 3px 0px #888;
        background-color: #888;
        color:white
    }
    .navbar-button:after{
        box-shadow: 3px 3px 0px #888;
        background-color: #888;
        color: white
    }
    
.navbar-button .nav-link {
    color: black;
    text-decoration: none;
}

    .navbar-button .nav-link:active {

        color: black
    }

    /*COLOR BUTTONS*/
.Colors {
    border: hidden;
    width: 15px;
    height: 25px;
    border-radius: 5px;
}

.btn-BW {
    border: hidden;
    width: 15px;
    height: 25px;
    border-radius: 5px;
}
#btnFirst {
    background-color: mediumturquoise;
}
#btnSecond {
    background-color: yellow;
}
#btnThird {
    background-color: lightgreen;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    color:aqua
}

.navbar-dark {
    background-color: blue;
}




/*Modal styling*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 200px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
    